<!doctype html>
<title>Angular FP Test</title>

<body ng-app="app">

<input ng-model="name">

<div ng-repeat="user in users()">

  <span ng-if="!editing">{{ user.name }} &ndash; {{ user.birthday | date:'MM/dd' }}</span>
  <span ng-if="editing"><input ng-model="user.name" ng-model-options="{ updateOn: 'blur' }"></span>

  <a href ng-click="editing = !editing">
    {{ !editing ? 'edit' : 'done' }}
  </a>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script>
  angular.module('app', []).run(function($rootScope) {
    var users = [
      {
        fname: 'John',
        lname: 'Doe',
        birthdate: 951363573000,
      },
      {
        fname: 'Jeff',
        lname: 'Johnson',
        birthdate: 701408373000,
      },
      {
        fname: 'Jane',
        lname: 'Smith',
        birthdate: 572672373000,
      },
      {
        fname: 'Julie',
        lname: 'Rogers',
        birthdate: 385789173000,
      },
      {
        fname: 'Jackson',
        lname: 'Nelson',
        birthdate: 7097973000,
      },
    ]

    var userViewModels = []

    function UserViewModel(user) {
      this.birthday = new Date()
      this.birthday.setTime(user.birthdate)

      this.name = user.fname + ' ' + user.lname
    }

    $rootScope.users = function() {
      return users
        .map(function(user, userIndex) {
          if (!userViewModels[userIndex]) {
            userViewModels[userIndex] = new UserViewModel(user)

            var watcherHasRun

            $rootScope.$watch(
              function() { return userViewModels[userIndex].name },
              function(val) { 
                // 
                // On the server:
                // 

                var parts = val.split(' ')
                user.fname = parts[0] || ''
                user.lname = parts[1] || ''

                user.fname = user.fname.substr(0,1).toUpperCase() + user.fname.substr(1)
                user.lname = user.lname.substr(0,1).toUpperCase() + user.lname.substr(1)

                //
                // End server
                //

                if (watcherHasRun) {
                  userViewModels[userIndex] = void 0
                }
                watcherHasRun = true
              }
            )
          }

          return userViewModels[userIndex]
        })
        .filter(function(uvm) {
          return !$rootScope.name || uvm.name.toLowerCase().indexOf($rootScope.name) !== -1
        })
    }

  })
</script>
