<!doctype html>
<title>Angular FP Test</title>

<body ng-app="app">

<input ng-model="name">

<div ng-repeat="user in users()">
  {{ user.name }} &ndash; {{ user.birthday | date:'MM/dd' }}
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script>
  angular.module('app', []).run(function($rootScope) {
    var users = [
      {
        fname: 'John',
        lname: 'Doe',
        birthdate: 951363573000,
      },
      {
        fname: 'Jeff',
        lname: 'Johnson',
        birthdate: 701408373000,
      },
      {
        fname: 'Jane',
        lname: 'Smith',
        birthdate: 572672373000,
      },
      {
        fname: 'Julie',
        lname: 'Rogers',
        birthdate: 385789173000,
      },
      {
        fname: 'Jackson',
        lname: 'Nelson',
        birthdate: 7097973000,
      },
    ]

    function UserViewModel(user) {
      this.birthday = new Date()
      this.birthday.setTime(user.birthdate)

      this.name = user.fname + ' ' + user.lname
    }

    $rootScope.users = function() {
      return users
        .map(function(user) {
          if (!user.viewModel) {
            user.viewModel = new UserViewModel(user)
          }
          return user.viewModel
        })
        .filter(function(uvm) {
          return !$rootScope.name || uvm.name.toLowerCase().indexOf($rootScope.name) !== -1
        })
    }

  })
</script>
